* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
}


@font-face {
    font-family: 'alarm' ;
    src: url(./fonts/alarmclock.ttf) format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
}
div {
    width: 500px;
    height: 70px;
    background-color: #cfd8d8;
    border: 2px solid #3d3f3f;
    border-radius: 20px;
    align-content: center;
    align-self: center;
    margin-bottom: 18px;
}
h2 {
    justify-self: anchor-center;
    font-size: 35px;
}
main {
    align-self: anchor-center;
    background-color: #cfd8d8;
    width: 500px;
    height: auto;
    border: 2px solid #3d3f3f;
    border-radius: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    padding-right: 20px;
}
h1 {
    font-family: 'alarm';
    font-weight: normal;
}

img {
    width: 200px;
    height: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 130px;
    font-size: 20px;
    margin-left: 25px;
    justify-content: space-around;
    
}

button {
    height: 25px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 3px gray);
}

button:active {
    opacity: .6;
}

button:hover {
    background-color: red;
}

.time {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    background-color: #cfd8d8;
    border: 2px solid #3d3f3f;
    border-radius: 20px;
    margin-top: 18px;
    align-self: center;
    padding: 5px;
}

p{
    align-self: anchor-center;
    font-size: 35px;
    margin-top: 10px;
}

@media screen and (max-width: 650px){ 


body {
    display: flex;
    justify-content: center;
    margin: 100px 10px;
    flex-direction: column;
}    

div {
  width: auto;
  padding: 4px;
}

h2 {
    font-size: 24px;
}

main {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 20px 5px;
    width: auto;
}

.buttons {
    margin: 0;
}

.time {
    width: auto;
    margin-bottom: 20px;
}

p {
    font-size: 28px;
}
    
}